<!-- About Me Section -->
<section class="experience-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="image-container">
          <img src="assets/programmer.svg" alt="Vector Image" class="experience-image" />
        </div> <br>
        <a
          id="resume-btn"
          href="assets/Terence Bundela.pdf"
          class="btn btn-primary mt-4"
          target="_blank"
        >Resume</a>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-8">
        <h2 class="experience-title">Professional Experience</h2>
        <div class="experience-details">
          <div class="experience-point">
            <h3>JavaScript & TypeScript</h3>
            <p>Leveraged JavaScript and TypeScript to create interactive, high-performance web applications, enhancing user experiences across multiple platforms.</p>
          </div>
          <div class="experience-point">
            <h3>Angular Development</h3>
            <p>Designed and developed Angular applications, implementing responsive and dynamic features that improve user engagement and accessibility.</p>
          </div>
          <div class="experience-point">
            <h3>.NET C# Development</h3>
            <p>Utilized .NET C# for backend development, building robust APIs and services that power scalable web applications and integrate seamlessly with frontend technologies.</p>
          </div>
          <div class="experience-point">
            <h3>Server-Side Scripting</h3>
            <p>Implemented Express.js and Node.js for server-side scripting, creating efficient and scalable server solutions for real-time applications.</p>
          </div>
          <div class="experience-point">
            <h3>Database Management</h3>
            <p>Developed and managed databases using SQL (MSSQL, MySQL, SQLite) and NoSQL (MongoDB), ensuring data integrity and optimized performance for various applications.</p>
          </div>
          <div class="experience-point">
            <h3>RESTful APIs</h3>
            <p>Built RESTful APIs to facilitate communication between different system components and external services, improving overall system interoperability.</p>
          </div>
          <div class="experience-point">
            <h3>React.js</h3>
            <p>Utilized React.js to create reusable UI components, enhancing application performance and maintainability.</p>
          </div>
          <div class="experience-point">
            <h3>Development Tools</h3>
            <p>Worked with various development tools including Postman for API testing, Visual Studio and Visual Studio Code for code editing, and Git (SourceTree) for version control, ensuring smooth and collaborative development workflows.</p>
          </div>
          <div class="experience-point">
            <h3>Web Technologies</h3>
            <p>Employed Bootstrap, jQuery, and Webpack to streamline development processes and create responsive, interactive web pages.</p>
          </div>
          <div class="experience-point">
            <h3>Debugging & Optimization</h3>
            <p>Implemented advanced debugging and optimization techniques using tools like Visual Studio and browser developer tools, ensuring high-quality, efficient software solutions.</p>
          </div>
          <div class="experience-point">
            <h3>Software Architecture</h3>
            <p>Applied best practices in software architecture, including Three-tier and N-tier designs, to build scalable and maintainable applications.</p>
          </div>
          <div class="experience-point">
            <h3>Team Collaboration</h3>
            <p>Collaborated with cross-functional teams, contributing to the enhancement and troubleshooting of software applications and ensuring timely delivery of high-quality solutions.</p>
          </div>
          <div class="experience-point">
            <h3>Stakeholder Communication</h3>
            <p>Maintained effective communication with stakeholders, providing regular updates and gathering feedback to align development efforts with client expectations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer text-light bg-dark py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-center text-md-start">
        Designed and Developed by
        <em class="h3" style="font-family: 'Passions Conflict', cursive; color: #d9534f">Terence Bundela</em>
      </div>
      <div class="col-md-4 text-center">&copy; 2024 Terence Bundela</div>
      <div class="col-md-4 text-center text-md-end">
        <a href="https://www.linkedin.com/in/terencebundela" target="_blank"><i class="fab fa-linkedin fa-2x mx-3"></i></a>
        <a href="mailto:terence@example.com"><i class="fas fa-envelope fa-2x mx-3" style="color: #d9534f"></i></a>
        <a href="https://github.com/terencebundela" target="_blank"><i class="fab fa-github text-dark fa-2x mx-3"></i></a>
      </div>
    </div>
  </div>
</footer>