<nav
  id="n-bar"
  class="navbar sticky-top z-3 fixed-top bg-body-tertiary border-bottom navbar-expand-lg"
  style="background-color: #EAEAEA; height: 80px;"
>
  <div class="container-fluid d-flex justify-content-between align-items-center" style="height: 100%;"> <!-- Use justify-content-between to separate the elements -->
    <a class="navbar-brand bg-dark rounded text-center" id="terence-bundela" href="#" style="color: #fff">Terence Bundela</a>
    <ul class="navbar-nav mx-auto"> <!-- Center-align the nav-links -->
      <li class="nav-item mx-3">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLinkActive="active" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <a
  id="resume-btn"
  href="assets/Terence Bundela.pdf"
  class="btn btn-secondary rounded bg-dark d-flex justify-content-center align-items-center"
  style="width: 140px; height: 50px; /* Adjust the height as needed */"
>
  Resume
</a>

  </div>
</nav>
