/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Monoton&family=Pacifico&family=Passions+Conflict&display=swap');

/* General Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Ensure navbar stays on top */
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-brand {
    color: #537FE7;
    font-size: 1.8rem;
    font-family: 'Passions Conflict', cursive;
    transition: color 0.3s ease;
}

.navbar-light .navbar-brand:hover {
    color: #1a73e8;
}

/* Custom Toggler Styles */
.navbar-toggler {
    border: 0 !important;
    outline: none !important;
}

.navbar-toggler .navbar-toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #eb3842;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #eb3842;
    transition: all 0.3s ease;
}

.navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
}

/* Animation for Toggler Button */
.navbar-toggler.collapsed .navbar-toggler-icon {
    transform: rotate(0);
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
    transform: translateY(0) rotate(0);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
    transform: translateY(0) rotate(0);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: translateY(-8px) rotate(45deg);
}

/* Navbar Links */
.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #e74c3c;
    text-shadow: 0 0 8px rgba(83, 127, 231, 0.5);
}

.navbar-nav .active {
    color: #e74c3c;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(83, 127, 231, 0.5);
}

/* Resume Button */
#resume-btn {
    height: 40px;
    width: 140px;
    border: none;
    background-color: #537FE7;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#resume-btn:hover {
    background-color: #1a73e8;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}