<nav
  id="n-bar"
  class="navbar sticky-top z-3 fixed-top bg-body-tertiary border-bottom navbar-expand-lg py-0"
  style="background-color: #fafcfd;"
>
  <div class="container-fluid">
    <a class="navbar-brand" id="terence-bundela" href="#" style="color: #eb3842">Terence Bundela</a>
    <button
      class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="color: #284878">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item mx-3">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link " routerLinkActive="active" routerLink="/about">About</a>
        </li>
        <!-- <li class="nav-item mx-3">
          <a class="nav-link" routerLinkActive="active" routerLink="/skills">Skills</a>
        </li> -->
        <li class="nav-item mx-3">
          <a class="nav-link" routerLinkActive="active" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item mx-3">
          <a  class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
