@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syne+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
}

#projects {
  position: relative;
  top: 7.7%;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Card Animation */
.card {
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.card-title {
  transition: color 0.3s ease-in-out;
}

.card:hover .card-title {
  color: #007bff;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-body {
  transform: translateY(0%);
}
