<div class="container-fluid" id="projects">
  <div class="container mt-5">
    <h2 class="mb-5 projects-title">
      My Projects
    </h2>
    <div class="row">

      <!-- Project Card 1 -->
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg">
          <img
            src="assets/Angular-CRUD-App.png"
            class="card-img-top"
            alt="Angular CRUD App"
          />
          <div class="card-body">
            <h3 class="card-title">Angular CRUD App</h3>
            <p class="card-text">
              Angular CRUD App is a web application that allows users to Create,
              Read, Update, and Delete data through a user-friendly interface.
              It demonstrates basic CRUD operations using Angular, TypeScript, and
              Bootstrap.
            </p>
            <a
              href="https://github.com/terencebundela/Angular-Crud-Application"
              class="btn btn-primary"
            >View on GitHub</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg bg-dark">
          <img
            src="assets/Expense-Tracker-App.png"
            class="card-img-top"
            alt="Expense Tracker App"
          />
          <div class="card-body">
            <h3 class="card-title">Expense Tracker App</h3>
            <p class="card-text">
              Expense Tracker App is a web application that helps users track their
              expenses and manage their budgets. It is built with HTML, CSS,
              JavaScript, and provides an intuitive and user-friendly interface.
            </p>
            <a
              href="https://github.com/terencebundela/Expense_Tracker_App"
              class="btn btn-dark"
            >View on GitHub</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg bg-info">
          <img
            src="assets/sign-in-component.png"
            class="card-img-top"
            alt="Sign In Component"
          />
          <div class="card-body">
            <h3 class="card-title text-white">Sign In Component</h3>
            <p class="card-text small text-white">
              This is the design for the Sign In page component with a password show function.
            </p>
            <a
              href="https://github.com/terencebundela/Sign-In-Component"
              class="btn btn-light"
            >View on GitHub</a>
          </div>
        </div>
      </div>
      
      

      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg">
          <img
            src="assets/E-Commerce CartShop.png"
            class="card-img-top"
            alt="E-Commerce CartShop"
          />
          <div class="card-body">
            <h3 class="card-title">E-Commerce CartShop</h3>
            <p class="card-text small">
              TypeScript, Bootstrap, and Angular-powered Ecommerce website
              features a user-friendly shopping experience, with a cart
              component for easy item selection, and a fake store to browse
              products. With responsive design, it's the perfect solution for
              any online retailer.
            </p>
            <a
              href="https://github.com/terencebundela/E-Commerce-CartShop"
              class="btn btn-dark"
              >View on GitHub</a
            >
            <a
              href="https://github.com/terencebundela/E-Commerce-CartShop"
              class="btn btn-dark text-end"
              >View Live</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg bg-dark">
          <img
            src="assets/Instagram Clone.png"
            class="card-img-top"
            alt="Instagram Clone"
          />
          <div class="card-body">
            <h3 class="card-title">Instagram Clone</h3>
            <p class="card-text small">
              Instagram Clone design made with Angular and Bootstrap is a
              stunning UI replica of the popular social media platform,
              Instagram.
            </p>
            <a
              href="https://github.com/terencebundela/Instagram-Clone"
              class="btn btn-dark"
              >View on GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg">
          <img
            src="assets/Contact Page.png"
            class="card-img-top"
            alt="Contact Page"
          />
          <div class="card-body">
            <h3 class="card-title">Contact Page</h3>
            <p class="card-text small">
              Contact page, built with HTML, CSS, and JavaScript, provides a
              simple and intuitive way for users to get in touch. With a clean
              and modern design, users can easily fill out the contact form and
              submit their message. This page is fully responsive, ensuring that
              users can access the contact form from any device.
            </p>
            <a
              href="https://github.com/terencebundela/Contact-Page"
              class="btn btn-dark"
              >View on GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg">
          <img
            src="assets/Form Validation.png"
            class="card-img-top"
            alt="Form Validation / Sign Up Form"
          />
          <div class="card-body">
            <h3 class="card-title">
              Form Validation / Sign Up Form
            </h3>
            <p class="card-text">
              Sign up page features a powerful Form Validation system built with
              HTML, CSS, and JavaScript, ensuring that user inputs are accurate
              and complete. With real-time error messages and intuitive
              feedback, Form Validation system simplifies the sign-up process
              and reduces user frustration.
            </p>
            <a
              href="https://github.com/terencebundela/Form-Validation---Signup-Page"
              class="btn btn-dark"
              >View on GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg">
          <img
            src="assets/Progress Steps.png"
            class="card-img-top"
            alt="Progress Steps"
          />
          <div class="card-body">
            <h3 class="card-title">Progress Steps</h3>
            <p class="card-text">
              Progress Steps system, built with HTML, CSS, and JavaScript,
              provides a clear and intuitive way for users to track their
              progress through a multi-step process.
            </p>
            <a
              href="https://github.com/terencebundela/Progress-Steps"
              class="btn btn-dark"
              >View on GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-lg">
          <img
            src="assets/Weather Page.png"
            class="card-img-top"
            alt="Weather Page"
          />
          <div class="card-body">
            <h3 class="card-title">Weather Page</h3>
            <p class="card-text">
              simple Weather page, built with HTML, CSS, and JavaScript,
              provides users with real-time weather information on page load.
              With a clean and minimalistic design, page displays the current
              weather conditions in a user-friendly format.
            </p>
            <a
              href="https://github.com/terencebundela/Weather-Page"
              class="btn btn-dark"
              >View on GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
