<!-- Loader -->
<div id="loader" class="loader-container" *ngIf="isPageLoading">
  <div class="lds-ripple"><div></div><div></div></div>
</div>

<!-- Content -->

<div #contentWrapper id="content" *ngIf="!isPageLoading" style="display: none;">
  <!-- Your portfolio content goes here -->
  <app-navbar></app-navbar>
</div>

<!-- <app-home></app-home> -->
<!-- <app-about></app-about> -->
  <!-- <app-skills></app-skills> -->
  <!-- <app-projects></app-projects> -->
  <!-- <app-contact></app-contact> -->
<router-outlet></router-outlet>
