<!-- Loader -->

<div id="loader" class="loader-container" *ngIf="isPageLoading">
  <div class="lds-ripple"><div></div><div></div></div>
</div>

<!-- Content -->

<div id="home" class="container-fluid text-center h-100 w-100 d-inline-block" *ngIf="!isPageLoading">
  <div class="row">
    <div class="container-fluid p-0" style="height: 100vh">
      <div class="row h-100 align-items-center">
        <div class="col-md-6 text-center">
          <h1 class="text-light">
            <div
              class="col mt-5"
              style="
                font-family: 'Climate Crisis', cursive;
                font-size: 4rem;
                color: #284878;
              "
            >
              <span class="opacity-25" style="color: #FF1111">Software</span>
              Engineer
            </div>
          </h1>
          <div
            class="home-intro container-fluid h3 text-center mt-5"
            style="color: #062832; font-family:'Courier New', Courier, monospace"
          >
            <p class="typewritter-text mx-auto">
              Hello, My Name is Terence Bundela
            </p>
            <p class="typewritter-text2 mx-auto">I am a Software Developer</p>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <div
          class="rounded overflow-hidden bg-dark"
          style="height: 300px; width: 300px; transform: rotate(45deg);"
        >
          <img
            class="p-3 mb-5 rounded-circle"
            src="assets/terence-toon.png"
            width="220px"
            height="250px"
            alt="terence-toon"
            style="border-radius: 50%; transform: rotate(-45deg); margin-right: 50px;"
          />
        </div>
        
        </div>
      </div>
    </div>
  </div>

  <!-- About me -->

  <section id="" class="w-100">
    <div class="container">
      <h2
        class="text-center mt-5 mb-4"
        data-aos="zoom-in"
        data-aos-easing="ease-in"
        data-aos-duration="1500"
        style="
          font-family: 'Climate Crisis', cursive;
          font-size: 2rem;
          color: #284878;
        "
      >
        About Me
      </h2>
      <div class="row align-items-center">
        <div
          class="col-md-4 mb-4 mr-3 bg-light your-image-background"
          style="transform: rotate(45deg);"
          data-aos="fade-up-right"
          data-aos-easing="ease-in"
          data-aos-duration="1500"
        >
          <img src="assets/2968383.png" alt="Your Image" class="img-fluid" style="transform: rotate(-45deg);" />
        </div>
        <div
          class="col-md-8 my-md-5"
          data-aos="fade-up-left"
          data-aos-easing="ease-in"
          data-aos-duration="1500"
        >
          <p class="lead text-start" style="color: #062832">
            As an experienced Front-End Developer, I create visually stunning
            and responsive layouts,<br />
            adapting seamlessly across devices. Proficient in HTML, CSS, and
            JavaScript, I expanded my <br />
            skills to include Angular and Bootstrap for dynamic digital
            experiences.<br />
            <br />
            Expert in API integration, I ensure smooth user interactions and
            seamless data flow.<br />
            Collaborating with clients, I deliver tailored solutions aligned
            with their unique needs.<br />
            <br />
            My career highlights attention to detail, delivering high-quality
            websites through <br />
            thorough testing and debugging. Managing multiple projects, I meet
            deadlines and exceed client <br />
            expectations.<br />
            <br />
            Furthering my knowledge in C#, ASP.Net MVC, Web Forms, JavaScript,
            jQuery, Ajax, and <br />
            Web API, I excel in three-tier and N-tier application architecture.
            Git (SourceTree) facilitates <br />
            version control.<br />
            <br />
            Troubleshooting through Visual Studio and browsers, I optimize code
            for performance <br />
            improvement, delivering efficient software applications.<br />
            <br />
            Passionate about staying updated on trends, I offer innovative,
            user-centric digital solutions.<br />
            Let's collaborate and bring your ideas to life!
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Frontend Technologies  -->
  <div class="container-fluid p-5">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <h1
            class="text-center"
            data-aos="zoom-in"
            data-aos-easing="ease-in"
            data-aos-duration="500"
            style="
              font-family: 'Climate Crisis', cursive;
              font-size: 2rem;
              color: #284878;
            "
          >
            Software Development Technologies
          </h1>
        </div>
      </div>
    </div>

    <div class="container mt-5" style="color: #062832">
      <div class="row">
        <div class="col-md-3" data-aos="flip-left" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/javascript-svgrepo-com.svg" alt="JavaScript" width="70px" />
          <p>JavaScript</p>
        </div>
        <div class="col-md-3" data-aos="flip-left" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/c-sharp-c-17.svg" alt="C#" width="70px" />
          <p>C#</p>
        </div>
        <div class="col-md-3" data-aos="flip-left" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/typescript-svgrepo-com.svg" alt="TypeScript" width="70px" />
          <p>TypeScript</p>
        </div>
        <div class="col-md-3" data-aos="flip-left" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/jquery-svgrepo-com.svg" alt="jQuery" width="70px" />
          <p>jQuery</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" data-aos="flip-left" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/angular-svgrepo-com.svg" alt="Angular" width="70px" />
          <p>Angular</p>
        </div>
        <div class="col-md-3" data-aos="flip-left" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/asp-dot-net-core.svg" alt="ASP.NET" width="70px" />
          <p>ASP.NET</p>
        </div>
        <div class="col-md-3" data-aos="flip-left" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/asp-dot-net-mvc.png" alt="ASP.NET MVC" width="90px" height="70px" />
          <p>MVC</p>
        </div>
        <div class="col-md-3" data-aos="flip-left" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/bootstrap-fill-svgrepo-com.svg" alt="Bootstrap" width="70px" />
          <p>Bootstrap</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/web-api.png" alt="ASP.NET Web API" width="70px" />
          <p>Web API</p>
        </div>
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/sql.svg" alt="SQL" width="70px" />
          <p>SQL</p>
        </div>
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/ado-net.jpeg" alt="ADO.NET" width="70px" />
          <p>ADO.NET</p>
        </div>
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/postman.svg" alt="Postman" width="70px" />
          <p>Postman</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/sourcetree.svg" alt="Sourcetree" width="70px" />
          <p>Sourcetree</p>
        </div>
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/git-svgrepo-com.svg" alt="Git" width="70px" />
          <p>Git</p>
        </div>
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/github-svgrepo-com.svg" alt="Github" width="70px" />
          <p>Github</p>
        </div>
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/npm-svgrepo-com.svg" alt="npm" width="70px" />
          <p>npm</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/vs-code-svgrepo-com.svg" alt="Visual Studio Code" width="70px" />
          <p>VS Code</p>
        </div>
        <div class="col-md-3" data-aos="flip-right" data-aos-easing="ease-in" data-aos-duration="500">
          <img src="assets/visual-studio.svg" alt="Visual Studio" width="70px" />
          <p>Visual Studio</p>
        </div>
      </div>
    </div>
    
    
  </div>

  <!--Footer  -->

  <footer
    class="text-center bg-dark text-lg-start mt-5 rounded p-3"
    style="color: #fff; background-color: #C69B7B;"
  >
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-1">
          <a href="www.linkedin.com/in/terencebundela">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
        <div class="col-lg-1">
          <a href="mailto: terencebundela@gmail.com">
            <i class="fa-solid fa-envelope text-warning"></i>
          </a>
        </div>
        <div class="col-lg-1">
          <a href="https://github.com/terencebundela">
            <i class="fa-brands fa-github text-light"></i>
          </a>
        </div>
        <div class="col-md-5 text-center">&copy; 2023 Terence Bundela</div>
        <div class="col-lg-4 text-center text-lg-center">
          Designed and developed by
          <em class="h3" style="font-family: 'Passions Conflict', cursive"
            >Terence Bundela</em
          >
        </div>
      </div>
    </div>
  </footer>
</div>
