<!-- Loader -->
<div id="loader" class="loader-container" *ngIf="isPageLoading">
  <div class="lds-ripple"><div></div><div></div></div>
</div>

<!-- Content -->
<div id="home" class="container-fluid text-center h-100 w-100 d-inline-block" *ngIf="!isPageLoading">
  <!-- Hero Section -->
  <section class="hero-section">
    <div class="row align-items-center h-100">
      <div class="col-md-8 text-center mb-4 mb-md-0">
        <h1 class="display-1 text-light font-weight-bold">
          <span class="highlight">Software</span> Engineer
        </h1>
        <div class="home-intro mt-4">
          <p class="typewriter-text mx-auto">Hello, My Name is Terence Bundela</p><br>
          <p class="typewriter-text2 mx-auto">Passionate Software Engineer crafting smart solutions.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="image-container">
          <img src="assets/terence-toon.png" alt="terence-toon" class="developer-image" />
        </div>
      </div>
    </div>
  </section>

<!-- About Me Section -->
<section class="about-section">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title">My Journey</h2>
      <p class="section-subtitle">From UI Developer to Full-Stack Maestro</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 image-container">
        <div class="image-frame">
          <img src="assets/developer_activity_re_39tg.svg" alt="Developer Activity" class="about-image" />
        </div>
      </div>
      <div class="col-md-6">
        <p class="about-text">
          I embarked on my professional journey as a UI Developer, mastering the art of creating intuitive and visually appealing web interfaces using HTML, CSS, JavaScript, jQuery, and Bootstrap. As my expertise grew, I transitioned into a Web Developer role, leveraging Angular to build dynamic and robust front-end applications.
          <br><br>
          With a strong foundation in software development, I delved into .NET and C# for crafting APIs, further honing my skills as a Full-Stack Developer with the MEAN stack. This diverse experience has equipped me with a holistic understanding of both front-end and back-end technologies.
          <br><br>
          Outside of coding, I'm passionate about music—playing and performing from an early age. This creative outlet has always been a significant part of my life, fueling my drive and enhancing my problem-solving skills.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Technology Stack Section -->
<section class="tech-stack-section">
  <div class="container text-center">
    <h2 class="section-title">My Tech Stack</h2>
    <p class="section-subtitle">Tools and Technologies I Use</p>
    <div class="row mt-4">
      <!-- Tech Stack Items -->
      <div class="col-md-3 tech-item">
        <img src="assets/javascript-svgrepo-com.svg" alt="JavaScript" />
        <p>JavaScript</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/typescript-svgrepo-com.svg" alt="TypeScript" />
        <p>TypeScript</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/angular-svgrepo-com.svg" alt="Angular" />
        <p>Angular</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/csharp-svgrepo-com.svg" alt="C#" />
        <p>C#</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/nodejs-svgrepo-com.svg" alt="Node.js" />
        <p>Node.js</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/express-svgrepo-com.svg" alt="Express.js" />
        <p>Express.js</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/sql-server-svgrepo-com.svg" alt="SQL Server" />
        <p>SQL Server</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/mysql-svgrepo-com.svg" alt="MySQL" />
        <p>MySQL</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/sqlite-svgrepo-com.svg" alt="SQLite" />
        <p>SQLite</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/react-svgrepo-com.svg" alt="React" />
        <p>React</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/dotnet-svgrepo-com.svg" alt=".NET Framework" />
        <p>.NET Framework</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/aspnet-svgrepo-com.svg" alt=".NET MVC" />
        <p>.NET MVC</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/postman-svgrepo-com.svg" alt="Postman" />
        <p>Postman</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/visual-studio-svgrepo-com.svg" alt="Visual Studio" />
        <p>Visual Studio</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/vscode-svgrepo-com.svg" alt="Visual Studio Code" />
        <p>VS Code</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/sourcetree-svgrepo-com.svg" alt="SourceTree" />
        <p>SourceTree</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/git-svgrepo-com.svg" alt="Git" />
        <p>Git</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/github-svgrepo-com.svg" alt="GitHub" />
        <p>GitHub</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/npm-svgrepo-com.svg" alt="NPM" />
        <p>NPM</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/bootstrap-svgrepo-com.svg" alt="Bootstrap" />
        <p>Bootstrap</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/jquery-svgrepo-com.svg" alt="jQuery" />
        <p>jQuery</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/webpack-svgrepo-com.svg" alt="Webpack" />
        <p>Webpack</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/mongodb-svgrepo-com.svg" alt="MongoDB" />
        <p>MongoDB</p>
      </div>
      <div class="col-md-3 tech-item">
        <img src="assets/api-svgrepo-com.svg" alt="RESTful APIs" />
        <p>RESTful APIs</p>
      </div>
    </div>
  </div>
</section>
  <!-- Footer -->
  <footer class="footer">
    <div class="container text-center p-4">
      <div class="row">
        <div class="col-lg-12">
          <p>&copy; 2024 Terence Bundela. Designed and developed by Terence Bundela.</p>
          <!-- Social Icons -->
          <div class="social-icons">
            <a href="https://linkedin.com/in/terencebundela" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="mailto: terencebundela@gmail.com" target="_blank"><i class="fa-solid fa-envelope text-warning"></i></a>
            <a href="https://github.com/terencebundela" target="_blank"><i class="fa-brands fa-github text-light"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>