@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Monoton&family=Pacifico&family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Your+Typewriter+Font&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* second container for positiong hidden content under navigation bar */



/* home-page */
#home {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: 92%;
}

/* Typing Effects CSS */

.typewritter{
	font-family: monospace;
	display: inline-block
}

.typewritter-text:nth-child(1){
    white-space: nowrap;
    overflow: hidden;
    width: 24em;


    animation: typewritter 2.5s steps(40, end);

    animation-fill-mode: forwards;
    border-right: 0.15em solid transparent;
}
.typewritter-text2:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    width: 40em;
    animation: typewritter2 2.5s steps(44, end) 1s 1 normal both,
      blinkTextCursor 500ms steps(44, end) 8;
    animation-delay: 2.2s;
    border-right: 0.15em solid transparent;
}



@keyframes typewritter {
    from {
      width: 0;
      border-right: 2px solid #062832;
    }

    to {
      width: 20em;
      border-right: 0.15em solid transparent;
    }
  }

  @keyframes typewritter2 {
    from {
      width: 0;

      border: none;
    }

    1% {
      border-right: 2px solid #062832;
    }

    to {
      width: 15.1em;
      border-right: 0.15em solid transparent;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: #062832;
    }

    to {
      border-right-color: transparent;
    }
  }


  /*  */

/* Loader container */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Loader animation */
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Adjust the animation duration as needed */
}

/* Loader animation keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Loader css */
 
/* Loader container */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
  z-index: 9999; /* Ensure the loader appears above other elements */
}

/* Loader animation */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.your-image-background {
  height: 30rem;
  z-index: -1;
  border-radius: 70px;
  background-color: #C0EEF2;
}


/* #triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #333;
    border-bottom: 25px solid transparent;
} */

.play-button-container {
  position: relative;
  display: inline-block;
}

.play-button {
  width: 330px;
  height: 330px;
  background-color: #181823;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.play-icon {
  font-size: 300px;
  color: #537FE7;
  border-color: black;
  margin-top: 50px;
  transform: rotate(180deg);
}

img {
  position: relative;
}
